# dependencies
node_modules

# builds
.next
out
dist
*.tsbuildinfo
build

# turbo
.turbo

# env
.env
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
coverage
.nyc_output

# misc
.DS_Store
*.swp
*.swo

# IDE
.vscode/settings.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?